// FONTS 

$base-font: "Open Sans", sans-serif;
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Lato", sans-serif;

// SIZE 

$zero: 0;

// COLORS 

$text: #fafafa;
$background: #242331;
$primary: #c76b57;
$secondary: #0a5880;
$accent: #b1c7c8;

// MEDIA QUERIES

$mobile: 578px;
$small-tablet: 769px;
$tablet: 1024px;
$desktop: 1480px;

// DISPLAY 

$flex: flex;
$none: none;
$block: block;

// POSITION 

$fixed: fixed;
$absolute: absolute;
$relative: relative;

// WIDTH 

$max: 100%;